.tadvideo {
    text-align: center;
    /* width: 300px; */
    background-color: #bbb;
    max-width: 1560px;
    margin: auto;
}


.pastga {
    padding-bottom: 30px;
}

.eeee-super-eee {
    max-width: 1560px;
    margin: auto;
}